/* ================== Global Variable start here ========================== */
.chatbox {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
/* ======================================================================= 
                          LeftPart start here  
======================================================================== */
.chatbox .leftPart {
  height: 100vh;
  background: var(--color-info-light);
  padding-left: 10px;
  padding-right: 10px;
}

/* ======================================================================= 
                          LeftPart end here  
======================================================================== */
/* ======================================================================= 
                          MiddlePart start here  
======================================================================== */
.chatbox .middlePart {
  width: 50%;
  height: 100vh;
  background: var(--color-white);
  position: relative;
}
/* ======================================================================= 
                          MiddlePart end here  
======================================================================== */

/* ======================================================================= 
                          RightPart start here  
======================================================================== */
.chatbox .rightPart {
  width: 25%;
  height: 100vh;
  background: var(--color-info-light);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

/* ======================================================================= 
                          RightPart end here  
======================================================================== */
