h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}
input {
  font-size: 15px;
  width: 100%;
  height: 25px;
  outline: 1px dotted var(--color-info-dark);
  padding: 0px 11px;
}
.mappinginput {
  margin-bottom: 20px;
}
.registration {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.gapping {
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.form {
  margin: 0 auto;
  width: 450px;
  background-color: white;
  padding: 5px 40px;
}

.title {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
  color: black;
}
.errmsg {
  color: red;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}
.submitbtn {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.submitbtn:hover {
  background-color: black;
  cursor: pointer;
}
.loginnow {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 20px;
}
.link b {
  color: rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.5s;
}
.link b:hover {
  color: black;
}
/* =============== Loader design start here ==============  */

.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 0 auto;
}
.sp-sphere {
  border-radius: 50%;
  border-left: 0px solid;
  border-right: 0px solid;
  -webkit-animation: spSphere 0.3s infinite linear;
  animation: spSphere 0.3s infinite linear;
}
@-webkit-keyframes spSphere {
  0% {
    border-left: 0px solid;
    border-right: 0px solid;
  }
  33% {
    border-left: 32px solid;
    border-right: 0px solid;
  }
  34% {
    border-left: 0px solid;
    border-right: 32px solid;
  }
  66% {
    border-left: 0px solid;
    border-right: 0px solid;
  }
}
@keyframes spSphere {
  0% {
    border-left: 0px solid;
    border-right: 0px solid;
  }
  33% {
    border-left: 32px solid;
    border-right: 0px solid;
  }
  34% {
    border-left: 0px solid;
    border-right: 32px solid;
  }
  66% {
    border-left: 0px solid;
    border-right: 0px solid;
  }
}
